* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: lightgrey;
  padding: 16px;
}

#border-1 {
  background-color: black;
  padding: 16px;
  height: 100%;
}

#border-2 {
  background-color: crimson;
  padding: 24px;
  height: 100%;
}

h1 {
  background-color: khaki;
  padding: 30px;
  color: black;
  text-align: center;
  height: 100%;
  font-size: 72px;
}
